<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>

        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDesktopEndpoint" sendTimeout="00:15:00">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/desktop_services"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDesktopEndpoint"
                contract="services.IDesktopEndpoint" name="NetTcpBinding_IDesktopEndpoint" />
        </client>
    </system.serviceModel>
</configuration>